:root{
    --cool: linear-gradient(228deg, rgba(57,162,159,1) 23%, rgba(57,82,162,1) 53%, rgba(221,13,217,1) 100%);
    --warm: linear-gradient(228deg, rgba(57,162,159,1) 23%, rgba(253,29,29,1) 38%, rgba(252,176,69,1) 80%);
    --test: rgba(57,162,159,1);
    --select: linear-gradient(45deg, rgb(85, 19, 178), rgba(97, 201, 172, 0.623) );
}

body{
    background: var(--test);
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
 
header h1 {
    color: red;
    background-color: var(--test);
    padding: 3%;
    line-height: 1.5;
  }
   
nav {
    display: flex;
    flex-flow: row nowrap;
  /*  justify-content: flex-end; */
    background: var(--warm);
  }

nav a {
    text-decoration: none;
    padding: 10px 20px;
    margin-left: -20px;
    font-size: 1.5rem;
  }
/*
.navbar{
    flex: 0 0 90%;
}*/
  

.navigation{ 
    display: flex;
    justify-content: flex-end;
    padding: 1% 1%;
    margin: 1% 0;
    font-size: 120%;
}

a:link {
    text-decoration: none;
    color:azure;
}

a:hover{
    transition: 0.1s ease-out;
    font-size: 110%;

}
a:active{
    color:black;
}

a:visited {
    color: azure;
}

/*main*/
.main_container {
  max-width: 90%;
  margin: 0 auto;
}

/*About start*/
.page_section{
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  margin: 30px 0;
  padding: 10px 0;
}


#Work:hover, #Contact:hover, #About:hover{
    background: var(--select);
}

h2{
    font-size: 150%;
    padding: 5%;
    width: 17%;
    height: 300px;
    overflow:hidden;
    flex-wrap: wrap;
}

h2:hover{
    animation: glow 2s ease infinite alternate;
}
/*https://www.w3schools.com/howto/howto_css_glowing_text.asp*/
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 1px rgb(16, 6, 6), 0 0 2px rgb(83, 40, 40), 0 0 3px #123257, 0 0 4px #5bada4, 0 0 5px #7aa339, 0 0 6px #88b7cb, 0 0 7px #e60073;
    }
    
    to {
      text-shadow: 0 0 2px #fff, 0 0 3px #ff4da6, 0 0 4px #ff4da6, 0 0 5px #ff4da6, 0 0 6px #ff4da6, 0 0 7px #ff4da6, 0 0 8px #ff4da6;
    }
  }

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 83%;
    /* border: 1px solid black; */
}
/*About end*/

/*Work start*/
#Work{
    display:flex;
    flex-direction:row;
}

.container{
    display: grid;
    /*to center items into 2x2 equally*/
    grid-template-columns: auto auto;
    grid-row: auto auto;
    /*grid-column-gap: 20px;*/
    width: 83%;
    height: 30%;    
    
}

img {
    width:100%;
    height:100%;
}

figcaption {
    position: relative;
    bottom: 15%;
}
/*Work end*/


/*Contact start*/
#Contact{
    display: flex;
    flex-direction: row;
}

.contact_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    width: 80%;
}

.phone_box, .email_box, .social_box{
    
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 2.5rem;
}

footer{
    text-align: center;
    margin: 10px;
    font-family: "Comic Sans" !important;
}

.screen_reader{
    display: none;
}

  
  @media screen and (max-width: 768px) {
    h1, h2, nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
      }

    img {
        width: 100%;
      }
  }